<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Σελίδα Μετρήσεων</title>
  </head>
  <body>
         <p>Γεια σου {{g.user[1]}}</p>
         <p><a href='/'>Αρχική σελίδα</a></p>
         <p>Θερμοκρασία: {{ roundv(g.s.temperature,2) }} βαθμοί Κελσίου</p>
         <p>Υγρασία: {{ roundv(g.s.humidity,1) }} %</p>
         <p>Βαρομετρική πίεση: {{ roundv(g.s.pressure,3) }} %</p>
         <p><a href="/logme">ΑΠΟΣΥΝΔΕΣΗ</a></p>
  </body>
</html>
